.height-and-width-defaults() {
  width: 100%;
  height: 100%;
}

:host {
  display: flex;
  justify-content: center;
  margin: 30px;

  box-shadow: 0px 0px 8px rgb(0 0 0 / 20%);

  &:hover {
    box-shadow: 0px 0px 0px 3px #596651;
    cursor: pointer;
  }
}

.editable {
  .height-and-width-defaults;
  min-width: 50px;
  text-align: center;

  &:hover {
    cursor: text;
  }
}

.container {
  .height-and-width-defaults;

  .selected {
    box-shadow: 0px 0px 0px 3px #1a5f66 !important;
  }
}
